@font-face {
    font-family: 'titulares'; 
    src: url('AvenirLTStd-Medium.otf'); 
}

@font-face {
    font-family: 'semititulos'; 
    src: url('AvenirLTStd-Book.otf'); 
}

@font-face {
    font-family: 'parrafos'; 
    src: url('AvenirLTStd-Roman.otf'); 
}

body, html {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

body{
	background-image: url("background.png");
	background-size: 100% 100%;
	background-repeat:no-repeat;
	background-color:white;
}

h1 {
	color: #262626;
	text-decoration: underline;
	text-align: left;
	font-size:25px;
}
			
h2 {
	font-weight: bold;
	font-size:16px;
	font-family: "parrafos";
	text-align:center;
}	

#decodificar{
	width:20%;
	margin-left:19%;
	float:left;
	margin-top:25px;
}	

#limpiar{
	width:20%;
	margin-top:25px;
	margin-left:1%;
}

#cambiar1, #cambiar2{
	width:20%;
	margin-top:25px;
	margin-left:1%;
}	
	
#metar{
	width:100%;
	margin-top:10px;
}

#correctos{
	float:left;
	width:26%;
	margin-left:10%;
	margin-top:2px;
}
			
#errores{
	width:26%;
	margin-left:4%;
	float:left;
	margin-top:2px;
}
			
#escapes{
	width:26%;
	margin-left:4%;
	float:left;
	margin-top:2px;
}

#correctos2{
	float:left;
	width:29%;
	margin-left:4.5%;
	margin-top:2px;
}
			
#errores2{
	width:29%;
	margin-left:2%;
	float:left;
	margin-top:2px;
}
			
#escapes2{
	width:29%;
	margin-left:2%;
	float:left;
	margin-top:2px;
}

h1.semititulo{
	text-align:left;
	text-decoration:none;
	font-family: "semititulos";
}
			
h1.cabeza{
	text-align:center;
	font-size:40px;
	margin:0;
	padding:0;
	font-family: "titulares";
	text-decoration:none;
}

h1.cabeza2{
	text-align:center;
	padding-top:6px;
	font-size:35px;
	padding-bottom:6px;
	margin-bottom:2px;
	font-family: "titulares";
	text-decoration:none;
}

#titulo{
	width:100%;	
	margin:0px;
	padding:0;
	padding-top:15px;
}

#input{
	width: 40%;
	float:left;
	margin-left:9%;
	height:180px;
	text-align:left;
	font-size:18px;
	padding: 7px 0px 0px 9px;
}

#input2{
	width: 40%;
	float:left;
	margin-left:3%;
	height:180px;
	font-size:18px;
	padding: 7px 0px 0px 9px;
}

#content{
	width: 100%;
    margin: auto;
}
	
#botones{
	width:100%;
	margin-top:30px;
}	

table{
	width:100%;
	font-family: "parrafos";
	color:#262626;
}

p.contact{
	width:70%;
	margin-left:15%;
}

td{
	text-align:left;
	padding-bottom:30px;
	font-size:18px;
}

.buttons, .cambio, .cuadros{
	font-family: "parrafos";
}

.buttons, .cambio{
	font-size: 18px;
	white-space:normal;
	min-height:3.5%;
}

.cuadros{
	background-color: rgba(255, 255, 255, 0.5);
	color:#262626;
}

p{
	font-size:18px;
	font-family: "parrafos";
	text-align:justify;	
	color:#262626;
	margin-left:7.5%;
	width:85%;
	padding: 10px 10px 10px 10px;
}

p.aparecer{
	font-size:18px;
	font-family: "parrafos";
	text-align:justify;	
	color:#262626;
	padding:0px;
	margin:0px;
}

#nada{
	background-color: rgba(255, 255, 255, 0.7);
		border: 1px solid rgba(38, 38, 38, 0.2);
}

#demo2, #demo3, #demo6, #demo7{
	font-weight:bold;
	color: red;
}

#logo{
	margin-top:3px;
	height:60px;
	float:left;
	margin-left:3%;
	background-color:rgba(212, 227, 252,0.5);
	border-radius:15px;
	padding: 5px 5px 5px 5px;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
	margin-top:25px;
    padding: 0;
    overflow: hidden;
	height:90px;
	font-family:"parrafos";
	margin-bottom:3px;
	padding-bottom:3px;
}

ul.navbar li a {
    color: black;
	display:block;
	float:left;
	padding: 20px 30px 0px 30px;
    text-align: center;
    text-decoration: none;
	height:45px;	
	font-size:19px;
	background-color:rgba(212, 227, 252,0.5);
	margin-right:1%;
	border-radius:5px;
	width:8%;
}

.derecha {
	margin-left:16%;
}

.extremo {
	
}

ul.navbar li a:hover:not(.active) {
	color: black;
	font-weight:bold;
	font-size:22px;
	}

ul.navbar li a.active {
	color:black;
	font-weight:bold;
	background-color:rgba(255, 255, 255,0.9);
	font-size:22px;
	}
	
.explicacion {
	font-family:"parrafos";
	font-size:20px;
	color:#262626;
	width:70%;
	margin-left:15%;
	padding-bottom:12px;
	border-style:none;
	background-color:rgba(212, 227, 252,0);
	text-align:center;
}

.explicacion2 {
	font-family:"parrafos";
	font-size:20px;
	color:#262626;
	width:85%;
	margin-left:15%;
	padding-bottom:12px;
	border-style:none;
	background-color:rgba(212, 227, 252,0);
}

.titulo_explicacion{
	text-align:center;
	text-decoration:none;
	font-family:"parrafos";
	font-size:27px;
	color:#262626;
}
